.body-hamilton {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
.blog-hamilton-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.body-hamilton h1{
    text-align: center;
}
.article-image {
    text-align: center;
    margin-bottom: 20px;
}
.article-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
.body-hamilton p{
    line-height: 1.6;
}